routingpy/__version__.py
examples/*with_keys*
**/.ipynb*
conda/
dist/
*egg-info/**
.coverage
htmlcov/
**/build
examples.py
test.py
.venv/
*.pyc
*.idea/
.DS_Store

# Visual Studio Code
.vscode
.history
