routingpy/__version__.py
examples/*with_keys*
**/.ipynb*
conda/
dist/
*egg-info/**
.coverage
htmlcov/
**/build
examples.py
test.py
.venv/
*.pyc
*.idea/
.DS_Store
/test_data/*
!test_data/andorra-latest.osm.pbf
