repos:
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
      language_version: python3
      # temp exlude osrm: black fails to reformat for some reason
      args: [routingpy, tests, --exclude, routingpy/routers/mapbox_osrm.py]
- repo: https://github.com/pycqa/flake8
  rev: 4.0.1  # pick a git hash / tag to point to
  hooks:
    - id: flake8
