repos:
- repo: https://github.com/psf/black
  rev: 21.6b0
  hooks:
    - id: black
      language_version: python3
      args: [--check, routingpy, tests]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.0  # pick a git hash / tag to point to
  hooks:
    - id: flake8
