certifi==2023.7.22 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==3.2.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
h3==3.7.6 ; python_version >= "3.8" and python_version < "4"
idna==3.4 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "4"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4"
pytz==2023.3 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
requests==2.31.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "4"
timezonefinder==6.2.0 ; python_version >= "3.8" and python_version < "4"
urllib3==2.0.4 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
