name: tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
  workflow_dispatch:
  pull_request_review:
    types: [submitted]

jobs:
  build:
    if: github.event.review.state == 'approved' ||  github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python_version: [
            3.7,
#            3.8,  # only lowest & highest version should be enough, :cross_fingers:
#            3.9,
#            '3.10',
            '3.11'
            # pypy3  # didn't build on CI anymore, happy for help: https://github.com/gis-ops/routing-py/issues/60
        ]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        pip install -r requirements_dev.txt

    - name: style & lint checks
      run: |
        pre-commit run --all-files

    - name: pytest and coverage
      run: |
        docker-compose -f tests/docker-compose.yml up -d
        pip install -e .
        coverage run --source=routingpy --module pytest
        coverage lcov --include "routingpy/*"
        docker-compose -f tests/docker-compose.yml down
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
